################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/src/Application/bin/Debug/net9.0
/src/Application/obj
/src/Domain/bin/Debug/net9.0
/src/Domain/obj
/src/Infrastructure/bin/Debug/net9.0
/src/Infrastructure/obj
/Tests/Application.IntegrationTests/bin/Debug/net9.0
/Tests/Application.IntegrationTests/obj
/Tests/Application.UnitTests/bin/Debug/net9.0
/Tests/Application.UnitTests/obj
/Tests/E2e.Tests/bin/Debug/net9.0
/Tests/E2e.Tests/obj
/Tests/Infrastructure.IntegrationTests/bin/Debug/net9.0
/Tests/Infrastructure.IntegrationTests/obj
/WebApi/.vs/WebApi
/WebApi/bin/Debug/net9.0
/WebApi/obj
/backEnd/src/Application/bin/Debug/net9.0
/backEnd/src/Application/obj
/backEnd/src/Domain/bin/Debug/net9.0
/backEnd/src/Domain/bin/Debug/net9.0/Domain.deps.json
/backEnd/src/Domain/bin/Debug/net9.0/Domain.dll
/backEnd/src/Domain/bin/Debug/net9.0/Domain.pdb
/backEnd/src/Domain/obj
/backEnd/src/Infrastructure/bin/Debug/net9.0
/backEnd/src/Infrastructure/bin/Debug/net9.0/Infrastructure.deps.json
/backEnd/src/Infrastructure/bin/Debug/net9.0/Infrastructure.dll
/backEnd/src/Infrastructure/bin/Debug/net9.0/Infrastructure.pdb
/backEnd/src/Infrastructure/obj
/backEnd/Tests/Application.IntegrationTests/bin/Debug/net9.0
/backEnd/Tests/Application.IntegrationTests/obj
/backEnd/Tests/Application.UnitTests/bin/Debug/net9.0
/backEnd/Tests/Application.UnitTests/obj
/backEnd/Tests/E2e.Tests/bin/Debug/net9.0
/backEnd/Tests/E2e.Tests/obj
/backEnd/Tests/Infrastructure.IntegrationTests/bin/Debug/net9.0
/backEnd/Tests/Infrastructure.IntegrationTests/obj
/backEnd/WebApi/.vs
/backEnd/WebApi/bin/Debug/net9.0
/backEnd/WebApi/obj
/backEnd/EpicMapping.WebApi/.vs
/backEnd/EpicMapping.WebApi/bin/Debug/net9.0
/backEnd/EpicMapping.WebApi/obj
/backEnd/.vs/EpicMapping/CopilotIndices/17.14.734.62261
/backEnd/.vs/EpicMapping/v17
/backEnd/.vs
